.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/Lista-de-compras.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
funcionalidades/__pycache__/__init__.cpython-313.pyc
funcionalidades/arquivo/__pycache__/__init__.cpython-313.pyc
funcionalidades/geral/__pycache__/__init__.cpython-313.pyc
.idea/